@charset "UTF-8";

body{
    margin: 0px;
 	background-image: url(../Images/terreimg.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

#interface{
    position: relative;
    width: 100%;
    height: 600px;
    /* border-style: solid;
    border-width: 2px;
    border-color: black ; */
}

#buttonattack{
    position: absolute;
    bottom :200px;
    left: 50px;
    width: 25%;
    /* border-style: solid;
    border-width: 2px;
    border-color: black ;
    text-align: center; */
}

#buttonarmy{
    width: 100%
}

#buttonpandemic{
    width: 100%
}

#buttonatomic{
    width: 100%
}

#action{
    position: absolute;
    right: 50px;
    top : 50px;
    width: 60%;
    height: 600px;
    /* border-style: solid;
    border-width: 2px;
    border-color: black ; */
}

#missile1{
    position: relative;
    opacity: 0.8;
    left: 0px;
    width: 100%;
    height: 600px;
}

#photoarmy{
    position: relative;
    opacity: 0.8;
    left: 0px;
    width: 100%;
    height: 600px;
}

#photoatomic{
    
    position: relative;
    opacity: 0.8;
    left: 0px;
    width: 100%;
    height: 600px;
}


#populationhumain{
    width: 100%;

    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    
    text-align: center;
    font-size: 40px;
    color: red;
    opacity: 0.8;
}
#annee{
    width: 100%;
/* 
    border-style: solid;
    border-width: 2px;
    border-color: black; */
    
    text-align: center;
    font-size: 40px;
    color: red;
    opacity: 0.8;
}
#massorganic{
    width: 100%;
/* 
    border-style: solid;
    border-width: 2px;
    border-color: black;
     */
    text-align: center;
    font-size: 40px;
    color: red;
    opacity: 0.8;
}
#morts{
    width: 100%;
/* 
    border-style: solid;
    border-width: 2px;
    border-color: black;
     */
    text-align: center;
    font-size: 40px;
    color: red;
    opacity: 0.8;
}

#Armee{
    width: 100%;
/* 
    border-style: solid;
    border-width: 2px;
    border-color: black;
     */
    text-align: center;
    font-size: 40px;
    color: red;
    opacity: 0.8;
}
#Cercle1{
    width: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 40px;
}
#pseudogame{
	color: red;
}
